body{
	background-image: url(background.jpg);
}

.wrapper{
	margin:auto;
	max-width: 900px;
	/*display: block;*/
	align-self: center;
	margin-top: 50px;
	/*background-color: rgba(255,255,255,0.9);*/
	border-radius: 10px;
	/*position: relative;*/
}

@media screen and (max-width: 500px){
	.wrapper{
		margin-top: 10px;
	}

	.navigation-bar {
		margin-top: 55px;
		margin-left: 20px;
	}

	.recepie-list{
		font-size: 20px;
		display: block;
	}

	.recepie-img{
		display: block;
	}

}

.section{
	background-color: rgba(255,255,255,0.9);
	border-radius: 10px;
	position: relative;
}

h1{
	text-align: center;
}

.recepie-list{
	font-size: 20px;
	display: inline-block;
	
}

.recepie-img{
	display: inline;
	position: absolute;
	right: 0;
	bottom: 0;

}

button{
	border-radius: 10px;
}
